.main-container {
    padding: 15px;
    height: 100%;
    min-height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    max-width: 992px;
    text-align: center;
}

.text {
    font-size: 1.25em;
    text-align: left;
}

.main-login {
    margin: 30px;
    background: #A3B33E;
    border: 1px solid #0E6E05;
    border-radius: 20px;
    transition: .5s;
}

.main-login p{
    color: black;
    transition: .5s;
    font-size: 1.25em;
    font-weight: bold;
}

.main-login:hover {
    background: #0E6E05;
}

.main-login:hover p{
    color: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
    color: #0E6E05;
    font-weight: bold;
    font-size: 7em;
}

h3 {
    color: #0E6E05;
    font-weight: bold;
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 3.8em;
    }
}


@media only screen and (max-width: 400px) {
    .main-login p {
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px){
    .content-wrapper {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

