.select-pass-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 330px;
}

.select-pass-container .logo {
    margin-bottom: 35px;
}

.old-pass {
    margin-bottom: 50px;
}

.insert {
    display: flex;
    justify-content: center;
}

.insert button {
    border-radius: 20px;
    background: #036510;
    border: 1px solid #A3B33E;
}

.insert button:hover {
    background-color: #A3B33E;
}